.about-body {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;

    .avatar {
        text-align: center;

        span {
            font-size: 10rem;
        }
    }

    .text-body {
        background-color: rgba(160, 160, 160, .2);
        padding: 50px;
        padding-top: 25px;

        p {
            color: white;
        }
    }

    .social-links {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        text-align: center;
        list-style-type: none;
        color: lightgray;

        li {
            border: 1px solid lightgray;
            margin-right: 15%;
        }

        .github {
            background-color: green;
        }

        .linkedIn {
            background-color: red;
        }

        .email {
            background-color: blue;
        }

        button {
            border: none;
        }
    }

    .quote {
        padding: 15%;
        color: lightgray;
    }
}

.about-header {
    display: flex;
    justify-content: center;
    height: 10vh;
    margin-bottom: 2vh;

    h1 {
        border-bottom: 2px solid gray;
        color: orange;
    }
}

