.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100vw;
    position: top;
    justify-content: center;
    align-items: center;
    height: 8vh;
    margin-left: none;
}


    .nav-link-active {
        text-decoration: underline;
    }

    .nav-links {
        display: flex;
        align-items: center;
        width: 100vw;
        height: 10vh;
    }
    .left-side {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding: 1.5%;
        padding-top: 0;

        .dropdown-toggle {
            color: orange;
        }

        .dropdown-menu {
            background-color: #414141;
            text-align: center;
            color: blue;

            .nav-link {
                color: blue;
            }
        }
        
        .nav-link {
            color: blue;
        }
    }

    .right-side {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1.5%; 
        padding-top: 0;

        .nav-link {
            display: flex;
            align-self: center;
            justify-content: center;
            width: 100%;
            color: lightgray;
        }

        .nav-link-active {
            color: red;
        }
        


    }
