



    .left-side {
        display: flex;
        width: 50%;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding: 1.5%;
        background-color: rgba(0,0,0,0);

        .dropdown-toggle {
            color: orange;
            
            &:hover {
                background-color: lightgray;
            }
        }

        .dropdown-menu {
            background-color: #1F2225;
            text-align: center;
            color: blue;

            .dropdown-item {
                &:hover {
                    background-color: lightgray;
                }
            }

            .nav-link {
                color: blue;
            }
        }
        
        .nav-link {
            color: blue;

            &:hover {
                background-color: lightgray;
            }
        }

        .nav-link-active {
            color: lightgray;

            &:hover {
                color: blue;
            }
        }
    }

    .right-side {
        display: flex;
        align-items: center;
        justify-content: right;
        width: 25%;
        height: 100%;
        padding: 1.5%;
        background-color: rgba(0,0,0,0);

        .nav-link {
            display: flex;
            align-self: center;
            text-align: center;
            justify-content: center;
            width: 50%;
            color: lightgray;

            &:hover {
                background-color: blue;
            }
        }

        .navbar-brand {
            width: 50%;
            height: 70%;
        }

        .nav-link-active {
            color: red;
        }

    }
